{% extends "quotes/base.html" %} {% load extract %} {% block content %}

<div class="row">
  <div class="col-md-8">
    <div class="container">
      <div class="author-details">
        <h3 class="author-title">{{fullname}}</h3>
        <p>
          <strong>Born:</strong>
          <span class="author-born-date">{{born_date}} </span>
          <span class="class" ="author-born-location">{{born_location}} </span>
        </p>
        <p><strong>Description:</strong></p>
        <div class="author-description">{{description}}</div>
      </div>
    </div>
  </div>
</div>
{% endblock %}